*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menuList {
  width: 75vw;
  margin: 45px auto;
  display: flex;
  flex-direction: column;
  grid-gap: 3rem 5rem;
}
article {
  display: grid;
  grid-template-columns: 225px 1fr;
  grid-template-rows: 150px;
  grid-gap: 0 1rem;
}
.menuImg {
  width: 225px;
  height: 150px;
}
.menuImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted #727c8b;
  align-items: start;
  padding-bottom: 5px;
}
header h4 {
  font-size: 16px;
}
.info p {
  text-align: justify;
  color: #102a42;
  font-size: 15px;
  padding-top: 15px;
}
.btn-container {
  margin: 25px 0;
}
.btn-container button {
  color: #003cff;
  padding: 5px 10px;
  margin: 0px 10px;
  border: 2px solid #003cff;
  border-radius: 4px;
  transition: all 0.4s;
}

.btn-container button:hover {
  background: #003cff;
  color: #fff;
}
